.introduction-container {
  @media (min-width: $screen-lg-min) {
    width: $screen-lg-min;
  }

  .introduction-row {
    // wonkey donkey left column picture
    .picture {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: $screen-md-min) {
        padding: 0;
      }

      img {
        width: 100%;
      }
    }

    .intro {
      background-color: $brand-primary;
      color: #fff;
      font-size: 1.625rem;
      padding-top: $gutter;
      padding-bottom: $gutter;
      position: relative;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        font-size: 1.225rem;
      }

      @media (min-width: $screen-md-min) {
        font-size: 1.425rem;
        padding: $gutter * 1.5;
      }

      @media (min-width: $screen-lg-min) {
        font-size: 1.625rem;
        padding: $gutter * 2;
      }

      .title {
        color: #000;
        font-weight: 700;
        margin: 0 0 $gutter;
        text-transform: uppercase;

        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
          margin-bottom: $gutter / 2;
        }

        @media (min-width: $screen-lg-min) {
          margin-bottom: $gutter * 1.5;
        }
      }

      p {
        margin: 0 0 $gutter;

        @media (min-width: $screen-lg-min) {
          margin-bottom: $gutter * 1.5;
        }
      }

      .arrow {
        background: url('#{$img-path}/arrow.png') 0 0 no-repeat;
        bottom: -65px;
        display: block;
        left: 50%;
        position: absolute;
        height: 66px;
        width: 155px;
        @include translate(-50%, 0);
      }
    }

    .social-connect {
      margin: 0 auto;
      padding: 0;

      li {
        display: inline-block;
        margin-left: $gutter;
        padding: 0;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


.signup-container {
  background-color: #efefef;

  @media (min-width: $screen-lg-min) {
    margin: 0 auto;
    width: $screen-lg-min;
  }

  .signup-row {
    .instructions {
      padding: 0 $gutter $gutter;

      @media (min-width: $screen-sm-min) {
        padding-top: $gutter;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin: (66px + 15) 0 1.5rem; // arrow height + 15px

        @media (min-width: $screen-sm-min) {
          margin-top: .8rem;
        }
      }
    }

    .form {
      padding-bottom: $gutter;

      @media (min-width: $screen-sm-min) {
        padding: (66px + 20px) 3.125rem 3.125rem; // arrow height + 20px

        form {
          margin: 0 auto;
          max-width: 360px;
        }
      }

      label {
        display: none;
      }

      .submit {
        background-color: $brand-primary;
        border: none;
        color: white;
        display: block;
        font-family: $font-form-inputs;
        font-size: .75rem;
        font-weight: 400;
        height: 36px;
        line-height: 1.42857;
        padding: 6px 12px;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}
