// set the html font size the the desired base font size
// so that you can use rem dimensions elsewhere
html {
  font-size: $font-size-base;
  line-height: 1.4;
}

.form-control {
  background: #666;
  border: none;
  color: #fff;
  font-family: $font-form-inputs;
  font-size: .75em;
}

p + p {
  margin: 1.5em 0 0;
}

@media (min-width: $screen-sm-min) {
  .table-cell[class*="col-"] {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
}
